.App {
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.App::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: -1;
    background-image: var(--timer-circle);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

#session-label,
#break-label {
    grid-area: label;
    font-size: 1.5rem;
}

#session-length,
#break-length {
    grid-area: time;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#session-increment,
#break-increment {
    grid-area: inc;
}

#session-decrement,
#break-decrement {
    grid-area: dec;
}

#session-increment,
#break-increment,
#session-decrement,
#break-decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding-bottom: 6px;
}

#session-increment:hover,
#break-increment:hover,
#session-decrement:hover,
#break-decrement:hover {
    opacity: 0.75;
    cursor: pointer;
}

#session-increment:hover,
#break-increment:hover {
    color: var(--leaf-color);
    border-color: var(--leaf-color);
}
#session-decrement:hover,
#break-decrement:hover {
    color: var(--pomodoro-color);
    border-color: var(--pomodoro-color);
}

#timer-label {
    position: absolute;
    top: -65px;
    left: -105px;
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
}
